[Desktop Entry]
Version=1.0
Type=Link
Name=index.html
Comment=
Icon=user-bookmarks
URL=file:///tmp/guest-xqsixv/%C3%81rea%20de%20Trabalho/Ci-ncia-de-dados-criando-gr-ficos-din-micos-com-JavaScript-main/index.html
